<body>
    <h1>Вы получили новое обращение!</h1>
    <p><strong>Email: </strong>{{ email }}</p>
    <p><strong>ФИО: </strong>{{ name }}</p>
    <p><strong>Сообщение: </strong>{{ message }}</p>
</body>