@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../webfonts/ProximaNova/ProximaNova-Light.eot");
  src: local("Proxima Nova Light"), local("ProximaNova-Light"), url("../webfonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../webfonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../webfonts/ProximaNova/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
body {
  background: #FFFFFF;
  font-family: "Proxima Nova Lt"; }

#about {
  overflow: hidden; }

.hero_img {
  background-image: url("../img/main-background.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1; }

.hero_cover {
  position: absolute;
  background-color: #19191A;
  opacity: .5;
  height: 100vh;
  z-index: 2;
  width: 100%; }

.hero_data {
  letter-spacing: 10px;
  height: 100vh;
  width: 100%; }

.page-intro {
  position: relative;
  z-index: 3;
  padding-top: 20%;
  text-align: center;
  height: 100vh;
  color: #FFFFFF; }
  .page-intro h1 {
    letter-spacing: 10px;
    font-size: 60px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }
  .page-intro h4 {
    letter-spacing: 3px;
    font-size: 36px;
    text-shadow: 0 0 4px black; }
  .page-intro h3 {
    margin-top: 100px;
    letter-spacing: 5px;
    font-size: 30px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }
  .page-intro h5 {
    letter-spacing: 1px;
    font-size: 25px;
    text-shadow: 0 0 4px black; }

.red-button {
  background: #641F2C;
  background: linear-gradient(to bottom, #BB0637 0%, #641F2C 100%);
  color: #FFFFFF;
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 14px;
  border: none; }
  .red-button:hover {
    background: linear-gradient(to top, #BB0637 0%, #641F2C 100%); }

.white-button {
  background: #C9C9C9;
  background: linear-gradient(to bottom, #FFFFFF 0%, #C9C9C9 100%);
  color: #641F2C;
  border-radius: 25px;
  padding: 15px 35px;
  font-size: 14px;
  border: none; }
  .white-button:hover {
    background: linear-gradient(to top, #FFFFFF 0%, #C9C9C9 100%); }

.scroll {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 5%;
  cursor: pointer; }

.top-menu {
  top: 0;
  padding: 10px 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 75px;
  letter-spacing: 1px;
  font-size: 16pt; }
  .top-menu .menu {
    padding-top: 15px; }
    .top-menu .menu li {
      display: inline;
      margin-right: 15px; }
      .top-menu .menu li:last-child {
        margin-right: 0; }
      .top-menu .menu li a {
        color: #FFFFFF; }
        .top-menu .menu li a:hover {
          text-decoration: none;
          color: #e6e6e6; }
        .top-menu .menu li a.active {
          color: #ba094d; }
          .top-menu .menu li a.active:hover {
            color: #f31c6f; }
  .top-menu .menu-burger {
    padding: 10px 10px; }
    .top-menu .menu-burger a {
      color: #FFFFFF;
      font-size: 20pt; }
      .top-menu .menu-burger a:hover {
        color: #e6e6e6; }

.dropdown-menu {
  background-color: #19191A; }
  .dropdown-menu a.dropdown-item {
    color: #FFFFFF; }
    .dropdown-menu a.dropdown-item:hover {
      background-color: #641F2C;
      color: #FFFFFF; }
    .dropdown-menu a.dropdown-item:active {
      background-color: #641F2C;
      color: #FFFFFF; }

.page-text_1 {
  background: #890739;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  padding: 75px 0;
  letter-spacing: 3px; }
  .page-text_1 p {
    font-size: 36pt; }
  @media screen and (max-width: 570px) {
    .page-text_1 p {
      font-size: 20pt; } }

.page-aboutme_1 {
  padding: 30px 0; }
  .page-aboutme_1 h1 {
    color: #890739; }

.img_container {
  z-index: 80;
  position: absolute;
  margin-left: 15px;
  width: 0;
  height: 0;
  border-top: 500px solid #FFFFFF;
  border-right: 120px solid transparent; }

.page-aboutme_2 {
  text-align: center;
  padding: 30px 0; }
  .page-aboutme_2 h1 {
    letter-spacing: 10px;
    font-size: 36pt;
    color: #890739; }
  .page-aboutme_2 img {
    border-radius: 135px;
    margin: 20px 20px 20px 20px; }
  .page-aboutme_2 p {
    letter-spacing: 1px;
    font-size: 20pt;
    text-align: left; }

.photo-slide {
  cursor: pointer; }

.page-text_2_img {
  width: 100%;
  height: 240px;
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
  background-size: contain;
  position: absolute;
  z-index: 1; }

.page-text_2_cover {
  position: absolute;
  background-color: #641F2C;
  opacity: .9;
  width: 100%;
  height: 240px;
  z-index: 2; }

.page-text_2_data {
  position: relative;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  height: 240px;
  padding: 75px 0;
  z-index: 3; }
  .page-text_2_data p {
    letter-spacing: 3px;
    z-index: 4;
    font-size: 36pt; }
  @media screen and (max-width: 570px) {
    .page-text_2_data {
      padding: 55px 0; }
      .page-text_2_data p {
        font-size: 25pt; } }

.page-galary {
  padding: 30px;
  text-align: center;
  background-color: #F7F7F7; }
  .page-galary img {
    margin: 10px 0 0 10px; }
  .page-galary p {
    font-size: 14pt;
    padding-top: 30px; }

.video-frame {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px; }

.page-service {
  padding: 30px; }

.card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px; }
  @media screen and (min-width: 600px) {
    .card.active {
      margin-top: -15px; }
      .card.active .card-body {
        margin-bottom: 30px; } }
  .card .card-header {
    height: 1px;
    background-color: transparent;
    border: none;
    border-top: 10px solid #BB0637;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; }
  .card .card-body {
    padding-top: 0; }
    .card .card-body h3 {
      letter-spacing: 3px;
      font-size: 36pt;
      color: #890739;
      z-index: 2; }
    .card .card-body p {
      padding-top: 20px;
      font-size: 16pt;
      text-align: left;
      z-index: 2; }
  .card .card-footer {
    background-color: #BB0637;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    padding: 20px 0; }

.custom-card {
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px 30px;
  text-align: center;
  width: 300px;
  border-top: 10px solid #BB0637; }
  .custom-card h3 {
    color: #890739;
    z-index: 2; }
  .custom-card p {
    padding-top: 40px;
    text-align: left;
    z-index: 2; }
  .custom-card button {
    z-index: 2; }
  .custom-card .custom-card_footer {
    position: absolute;
    background-color: #BB0637; }

.page-callback_img {
  width: 100%;
  background-image: url("../img/foto4.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: 1;
  height: 600px; }

.page-callback_cover {
  position: absolute;
  background-color: #641F2C;
  opacity: .7;
  width: 100%;
  z-index: 2;
  height: 600px; }

.page-callback_data {
  position: relative;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  height: 600px;
  z-index: 3;
  padding: 50px 0; }
  .page-callback_data h1 {
    font-size: 36pt; }
  .page-callback_data input, .page-callback_data textarea {
    margin: 30px 0 0 0; }
  .page-callback_data button {
    margin: 30px 0 0 0; }

.page-footer {
  background-color: #19191A;
  width: 100%;
  height: 280px;
  text-align: center;
  color: #FFFFFF;
  padding: 50px 0 0 0; }

.social {
  display: inline;
  margin: 0;
  padding: 0 0 25px 0;
  text-align: center; }
  .social li {
    display: inline;
    margin: 0 5px; }
    .social li a {
      color: #FFFFFF;
      font-size: 15pt; }
      .social li a:hover {
        color: #cccccc; }

.alex_flash {
  position: fixed;
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
  background-size: contain;
  z-index: 501;
  min-width: 300px;
  width: 500px;
  height: 240px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -120px;
  border-radius: 25px;
  color: #FFFFFF;
  cursor: pointer; }
  .alex_flash .alex_flash_success {
    background-color: green;
    height: 240px;
    border-radius: 25px;
    opacity: .75;
    z-index: 502; }
  .alex_flash .alex_flash_error {
    background-color: #890739;
    height: 240px;
    border-radius: 25px;
    opacity: .75;
    z-index: 502; }
  .alex_flash h2 {
    position: relative;
    line-height: 240px;
    z-index: 504;
    margin-top: -240px; }

html, body {
  height: 100%; }

#cube-loader {
  background-color: #890739;
  z-index: 10000;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed; }
  #cube-loader .caption {
    margin: 0 auto; }
  #cube-loader .cube-loader {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: relative;
    transform: rotateZ(45deg); }
    #cube-loader .cube-loader .cube {
      position: relative;
      transform: rotateZ(45deg);
      width: 50%;
      height: 50%;
      float: left;
      transform: scale(1.1); }
    #cube-loader .cube-loader .cube:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #FFFFFF;
      animation: cube-loader 2.76s infinite linear both;
      transform-origin: 100% 100%; }
    #cube-loader .cube-loader .loader-2 {
      transform: scale(1.1) rotateZ(90deg); }
    #cube-loader .cube-loader .loader-3 {
      transform: scale(1.1) rotateZ(180deg); }
    #cube-loader .cube-loader .loader-4 {
      transform: scale(1.1) rotateZ(270deg); }
    #cube-loader .cube-loader .loader-2:before {
      animation-delay: 0.35s; }
    #cube-loader .cube-loader .loader-3:before {
      animation-delay: 0.69s; }
    #cube-loader .cube-loader .loader-4:before {
      animation-delay: 1.04s; }

@keyframes cube-loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
