$maincolor:#FFFFFF;

//Палитра
$_color_1: #890739;
$_color_2: #BB0637;
$_color_3: #641F2C;
$_color_4: #454546;
$_color_5: #19191A;
$_color_6: #F7F7F7;
$_color_7: #C9C9C9;


@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('../webfonts/ProximaNova/ProximaNova-Light.eot');
  src: local('Proxima Nova Light'), local('ProximaNova-Light'),
  url('../webfonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
  url('../webfonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body{
  background: $maincolor;
  font-family: "Proxima Nova Lt";

}
#about{
  overflow: hidden;
}
.hero_img{
  background-image: url("../img/main-background.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.hero_cover{
  position: absolute;
  background-color: $_color_5;
  opacity: .5;
  height: 100vh;
  z-index: 2;
  width: 100%;
}

.hero_data{
  letter-spacing: 10px;
  height: 100vh;
  width: 100%;
}

.page-intro{
  position: relative;
  z-index: 3;
  padding-top: 20%;
  text-align: center;
  height: 100vh;
  color: $maincolor;
  h1{
    letter-spacing: 10px;
    font-size: 60px;
    text-shadow: 0 0 4px rgba(0,0,0, .5);
  }
  h4{
    letter-spacing: 3px;
    font-size: 36px;
    text-shadow: 0 0 4px black;
  }
  h3{
    margin-top: 100px;
    letter-spacing: 5px;
    font-size: 30px;

    text-shadow: 0 0 4px rgba(0,0,0, .5);
  }
  h5{
    letter-spacing: 1px;
    font-size: 25px;
    text-shadow: 0 0 4px black;
  }
}

.red-button{
  background: $_color_3;
  background: linear-gradient(to bottom, $_color_2 0%, $_color_3 100%);
  color: $maincolor;
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 14px;
  border: none;
  &:hover{
    background: linear-gradient(to top, $_color_2 0%, $_color_3 100%);
  }
}

.white-button{
  background: $_color_7;
  background: linear-gradient(to bottom, $maincolor 0%, $_color_7 100%);
  color: $_color_3;
  border-radius: 25px;
  padding: 15px 35px;
  font-size: 14px;
  border: none;
  &:hover{
    background: linear-gradient(to top, $maincolor 0%, $_color_7 100%);
  }
}

.scroll{
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 5%;
  cursor: pointer;
}

.top-menu{
  top: 0;
  padding: 10px 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 75px;
  letter-spacing: 1px;
  font-size: 16pt;
  .menu{
    padding-top: 15px;
    li {
      display: inline;
      margin-right: 15px;
      &:last-child{
        margin-right: 0;
      }
      a{
        color: $maincolor;
        &:hover{
          text-decoration: none;
          color: darken($maincolor, 10);
        }
        &.active{
          color: lighten($_color_1, 10);
          &:hover{
            color: lighten($_color_1, 25);
          }
        }
      }
    }
  }

  .menu-burger{
    padding: 10px 10px;
    a{
      color: $maincolor;
      font-size: 20pt;
      &:hover{
        color: darken($maincolor, 10);
      }
    }
  }
}

.dropdown-menu{
  background-color: $_color_5;
  a.dropdown-item{
    color: $maincolor;
    &:hover{
      background-color: $_color_3;
      color: $maincolor;
    }
    &:active{
      background-color: $_color_3;
      color: $maincolor;
    }
  }
}

.page-text_1{
  background: $_color_1;
  color: $maincolor;
  text-align: center;
  width: 100%;
  padding: 75px 0;
  letter-spacing: 3px;
  p{
    font-size: 36pt;
  }
  @media screen and (max-width: 570px) {
    p{
      font-size: 20pt;
    }
  }
}

.page-aboutme_1{
  padding: 30px 0;
  h1{
    color: $_color_1;
  }
}

.img_container{
  z-index: 80;
  position: absolute;
  margin-left: 15px;
  width: 0;
  height: 0;
  border-top: 500px solid $maincolor;
  border-right: 120px solid transparent;
}


.page-aboutme_2{
  text-align: center;
  padding: 30px 0;
  h1{
    letter-spacing: 10px;
    font-size: 36pt;
    color: $_color_1;
  }
  img{
    border-radius: 135px;
    margin: 20px 20px 20px 20px;
  }
  p{
    letter-spacing: 1px;
    font-size: 20pt;
    text-align: left;
  }
}

.photo-slide{
  cursor: pointer;
}

.page-text_2_img{
  width: 100%;
  height: 240px;
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
}
.page-text_2_cover{
  position: absolute;
  background-color: $_color_3;
  opacity: .9;
  width: 100%;
  height: 240px;
  z-index: 2;
}
.page-text_2_data{
  position: relative;
  color: $maincolor;
  text-align: center;
  width: 100%;
  height: 240px;
  p{
    letter-spacing: 3px;
    z-index: 4;
    font-size: 36pt;
  }
  padding: 75px 0;
  @media screen and (max-width: 570px) {
    padding: 55px 0;
    p{
      font-size: 25pt;
    }
  }
  z-index: 3;

}

.page-galary{
  padding: 30px;
  text-align: center;
  background-color: $_color_6;
  img{
    margin: 10px 0 0 10px;
  }
  p{
    font-size: 14pt;
    padding-top: 30px;
  }
}

.video-frame{
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
}

.page-service{
  padding: 30px;
}

.card{
  @media screen and (min-width: 600px){
    &.active{
      margin-top: -15px;
      .card-body{
        margin-bottom: 30px;
      }
    }
  }
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 25px;
  .card-header{
    height: 1px;
    background-color: transparent;
    border: none;
    border-top: 10px solid $_color_2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .card-body{
    padding-top: 0;
    h3{
      letter-spacing: 3px;
      font-size: 36pt;
      color: $_color_1;
      z-index: 2;
    }
    p{
      padding-top: 20px;
      font-size: 16pt;
      text-align: left;
      z-index: 2;
    }
  }
  .card-footer{
    background-color: $_color_2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    padding: 20px 0;
  }

}

.custom-card{
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 20px 30px;
  text-align: center;
  width: 300px;
  border-top: 10px solid $_color_2;

  h3{
    color: $_color_1;
    z-index: 2;
  }
  p{
    padding-top: 40px;
    text-align: left;
    z-index: 2;
  }
  button{
    z-index: 2;
  }
  .custom-card_footer{
    position: absolute;
    background-color: $_color_2;
  }
}

.page-callback_img{
  width: 100%;
  background-image: url("../img/foto4.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: 1;
  height: 600px;
}

.page-callback_cover{
  position: absolute;
  background-color: $_color_3;
  opacity: .7;
  width: 100%;
  z-index: 2;
  height: 600px;
}

.page-callback_data{
  position: relative;
  color: $maincolor;
  text-align: center;
  width: 100%;
  height: 600px;
  z-index: 3;
  padding: 50px 0;
  h1{
    font-size: 36pt;
  }
  input, textarea{
    margin: 30px 0 0 0;
  }
  button{
    margin: 30px 0 0 0;

  }

}

.page-footer{
  background-color: $_color_5;
  width: 100%;
  height: 280px;
  text-align: center;
  color: $maincolor;
  padding: 50px 0 0 0 ;
}

.social{
  display: inline;
  margin: 0;
  padding: 0 0 25px 0;
  text-align: center;
  li{
    display: inline;
    margin: 0 5px;
    a {
      color: $maincolor;
      font-size: 15pt;
      &:hover{
        color: darken($maincolor, 20);
      }
    }
  }
}

.alex_flash{
  position: fixed;
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
  background-size: contain;
  z-index: 501;
  min-width: 300px;
  width: 500px;
  height: 240px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -120px;
  border-radius: 25px;
  color: $maincolor;
  cursor: pointer;
  .alex_flash_success{
    background-color: green;
    height: 240px;
    border-radius: 25px;
    opacity: .75;
    z-index: 502;
  }
  .alex_flash_error{
    background-color: $_color_1;
    height: 240px;
    border-radius: 25px;
    opacity: .75;
    z-index: 502;
  }
  h2{
    position: relative;
    line-height: 240px;
    z-index: 504;
    margin-top: -240px;
  }
}

html, body {
  height: 100%;
}

#cube-loader {
  background-color: $_color_1;
  z-index: 10000;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  & .caption {
    margin: 0 auto;
  }
  .cube-loader {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: relative;
    transform: rotateZ(45deg);

    & .cube {
      position: relative;
      transform: rotateZ(45deg);
      width: 50%;
      height: 50%;
      float: left;
      transform: scale(1.1);
    }
    & .cube:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $maincolor;
      animation: cube-loader 2.76s infinite linear both;
      transform-origin: 100% 100%;
    }
    & .loader-2 {
      transform: scale(1.1) rotateZ(90deg);
    }
    & .loader-3 {
      transform: scale(1.1) rotateZ(180deg);
    }
    & .loader-4 {
      transform: scale(1.1) rotateZ(270deg);
    }
    & .loader-2:before {
      animation-delay: 0.35s;
    }
    & .loader-3:before {
      animation-delay: 0.69s;
    }
    & .loader-4:before {
      animation-delay: 1.04s;
    }
  }
}

@keyframes cube-loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
