{% extends 'base.html.twig' %}

{% block title %} AlexSuslov {% endblock title %}

{% block body %}
    <nav class="top-menu" id="main_nav">
        <div class="container">
            <div class="row">
                <div class="col-8 col-md-4 col-lg-3">
                    <div class="logo">
                        <a href="#">
                            <img src="{{ asset('asset/img/Logo.png') }}">
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-8 col-lg-9">
                    <div class="menu text-right d-none d-md-block" role="navigation">
                        <ul class="nav justify-content-end">
                            <li><a href="#about">Обо мне</a></li>
                            <li><a href="#galary">Галерея</a></li>
                            <li><a href="#services">Услуги</a></li>
                            <li><a href="#callback">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="text-right d-block d-md-none menu-burger dropdown">
                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-bars"></span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#about">Обо мне</a>
                            <a class="dropdown-item" href="#galary">Галерея</a>
                            <a class="dropdown-item" href="#services">Услуги</a>
                            <a class="dropdown-item" href="#callback">Контакты</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <header class="hero">
        <div class="hero_img"></div>
        <div class="hero_cover"></div>
        <div class="hero_data">
            <div class="container">
                <div class="row">
                    <div class="page-intro col-12 col-md-12 col-lg-12 col-xl-12 d-none d-md-block">
                        <h1>Александр Суслов</h1>
                        <h4 class="mb-4">Магия на кончиках пальцев</h4>
                        <button id="callback_button" type="button" class="btn red-button">Связаться со мной</button>
                        <img width="50" class="scroll" src="{{ asset('asset/img/Scroll down.png') }}">
                    </div>

                    <div class="page-intro col-12 col-md-12 col-lg-12 col-xl-12 d-block d-md-none">
                        <h3>Александр Суслов</h3>
                        <h5 class="mb-4">Магия на кончиках пальцев</h5>
                        <button id="callback_button" type="button" class="btn red-button">Связаться со мной</button>
                        <img width="50" class="scroll" src="{{ asset('asset/img/Scroll down.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="page-text_1">
        <p>Ваше восприятие будет будыщь-бдыщь</p>
    </div>
    <section class="container" id="about">
        <div class="d-none d-md-block">
            <div class="row">
                <div class="page-aboutme_1 col-md-6 col-lg-7">
                    <h1>Обо мне</h1>
                    <p>Lorem ipsum dolor amet kombucha meh hella locavore shabby chic enamel pin. Before they sold out slow-carb wolf gastropub 90's kogi tote bag. Messenger bag selvage mumblecore chia vaporware single-origin coffee tousled pour-over selfies VHS man bun iPhone semiotics 90's. Artisan shabby chic butcher, gastropub celiac drinking vinegar humblebrag knausgaard yr normcore vexillologist.</p>
                </div>
                <div class="img_container"></div>
                <div class="col-md-6 col-lg-5">
                    <img width="500" src="{{ asset('asset/img/aboutme.jpg') }}">
                </div>
            </div>
        </div>
        <div class="page-aboutme_2 d-block d-md-none d-lg-none d-xl-none col-12">
            <h1>Обо мне</h1>
            <img width="135" src="{{ asset('asset/img/aboutme.jpg') }}">
            <p>Lorem ipsum dolor amet kombucha meh hella locavore shabby chic enamel pin. Before they sold out slow-carb wolf gastropub 90's kogi tote bag. Messenger bag selvage mumblecore chia vaporware single-origin coffee tousled pour-over selfies VHS man bun iPhone semiotics 90's. Artisan shabby chic butcher, gastropub celiac drinking vinegar humblebrag knausgaard yr normcore vexillologist.</p>
        </div>
    </section>

    <div class="page-galary" id="galary">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-xl-8 col-12">
                    <iframe class="video-frame" src="https://www.youtube.com/embed/4WQr0x9U6eo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="video_frame"></iframe>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <img id="height_frame" class="img-fluid photo-slide" src="{{ asset('asset/img/foto1.jpg') }}">
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <img class="img-fluid photo-slide" src="{{ asset('asset/img/foto2.jpg') }}">
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <img class="img-fluid photo-slide" src="{{ asset('asset/img/foto3.jpg') }}">
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <img class="img-fluid photo-slide" src="{{ asset('asset/img/foto4.jpg') }}">
                </div>
                <div class="col-md-5 col-lg-5 col-xl-5">
                    <img class="img-fluid photo-slide" src="{{ asset('asset/img/foto5.jpg') }}">
                    <p>Хотите увидеть больше <br> фоторафий с выступления?</p>
                    <button id="show_more_photo" class="red-button btn">Больше фото</button>
                </div>
                <div class="col-md-7 col-lg-7 col-xl-7">
                    <img class="img-fluid photo-slide" src="{{ asset('asset/img/foto6.jpg') }}">
                </div>
                <div class="d-none" id="hidden_photos">

                </div>
            </div>
        </div>
    </div>
    <div class="page-text_2">
        <div class="page-text_2_img"></div>
        <div class="page-text_2_cover"></div>
        <div class="page-text_2_data">
            <p>Ваше восприятие будет будыщь-бдыщь</p>
        </div>
    </div>
    <div class="page-service" id="services">
        <div class="d-none d-md-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xl-4 mb-3">
                        <div class="card">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <h3 align="center">Услуга 1</h3>
                                <p>Gastropub freegan pork belly jianbing hot chicken flannel echo park marfa pok pok live-edge tofu enamel pin. Pickled viral iPhone dreamcatcher mumblecore whatever.<br>
                                    Portland intelligentsia pabst, meggings waistcoat authentic fashion axe gastropub banjo chambray sartorial literally messenger</p>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="white-button btn buy_service">Заказать</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 mb-3">
                        <div class="active card">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <h3 align="center">Услуга 1</h3>
                                <p>Gastropub freegan pork belly jianbing hot chicken flannel echo park marfa pok pok live-edge tofu enamel pin. Pickled viral iPhone dreamcatcher mumblecore whatever.<br>
                                    Portland intelligentsia pabst, meggings waistcoat authentic fashion axe gastropub banjo chambray sartorial literally messenger</p>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="white-button btn buy_service">Заказать</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 mb-3">
                        <div class="card">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <h3 align="center">Услуга 1</h3>
                                <p>Gastropub freegan pork belly jianbing hot chicken flannel echo park marfa pok pok live-edge tofu enamel pin. Pickled viral iPhone dreamcatcher mumblecore whatever.<br>
                                    Portland intelligentsia pabst, meggings waistcoat authentic fashion axe gastropub banjo chambray sartorial literally messenger</p>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="white-button btn buy_service">Заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-block d-md-none">
            <section class="lazy slider">
                <div>
                    <div class="card mr-4 ml-4">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <h3 align="center">Услуга 1</h3>
                            <p>Gastropub freegan pork belly jianbing hot chicken flannel echo park marfa pok pok live-edge tofu enamel pin. Pickled viral iPhone dreamcatcher mumblecore whatever.<br>
                                Portland intelligentsia pabst, meggings waistcoat authentic fashion axe gastropub banjo chambray sartorial literally messenger</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="white-button btn buy_service">Заказать</button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card mr-4 ml-4">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <h3 align="center">Услуга 1</h3>
                            <p>Gastropub freegan pork belly jianbing hot chicken flannel echo park marfa pok pok live-edge tofu enamel pin. Pickled viral iPhone dreamcatcher mumblecore whatever.<br>
                                Portland intelligentsia pabst, meggings waistcoat authentic fashion axe gastropub banjo chambray sartorial literally messenger</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="white-button btn buy_service">Заказать</button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card mr-4 ml-4">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <h3 align="center">Услуга 1</h3>
                            <p>Gastropub freegan pork belly jianbing hot chicken flannel echo park marfa pok pok live-edge tofu enamel pin. Pickled viral iPhone dreamcatcher mumblecore whatever.<br>
                                Portland intelligentsia pabst, meggings waistcoat authentic fashion axe gastropub banjo chambray sartorial literally messenger</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="white-button btn buy_service">Заказать</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="page-callback" id="callback">
        <div class="page-callback_img"></div>
        <div class="page-callback_cover"></div>
        <div class="page-callback_data">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-lg-3 col-xl-3"></div>
                    <div class="col-12 col-md-8 col-lg-6 col-xl-6">
                        <form method="post" action="{{ path('feedback') }}">
                            <h1>Обратная связь</h1>
                            <input id="name" name="name" type="text" placeholder="Введите имя" class="form-control">
                            <input id="email" name="email" type="text" placeholder="E-mail или телефон для связи" class="form-control">
                            <textarea id="message" name="message" class="form-control" placeholder="Комментарий" rows="5" ></textarea>
                            <input type="text" class="d-none" id="text_input" name="text_input">
                            <button type="submit" class="btn white-button" id="send_message">Отправить</button>
                        </form>
                    </div>
                    <div class="col-md-2 col-lg-3 col-xl-3"></div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="page-footer text-center">
        <img src="{{ asset('asset/img/Logo.png') }}">
        <p>Магия на кончиках<br>пальцев</p>
        <ul class="social">
            <li><a target="_blank" href="#"><span class="fab fa-vk"></span></a></li>
            <li><a target="_blank" href="#"><span class="fab fa-facebook-square"></span></a></li>
            <li><a target="_blank" href="#"><span class="fab fa-twitter-square"></span></a></li>
            <li><a target="_blank" href="#"><span class="fab fa-instagram"></span></a></li>
        </ul>
        <p class="mt-3">+7 999 777-77-77</p>
    </footer>
    {% for i in app.flashes('success') %}
        <div class="alex_flash">
            <div class="alex_flash_success"></div>
            <h2>{{ i }}</h2>
        </div>
    {% endfor %}
    {% for i in app.flashes('error') %}
        <div class="alex_flash">
            <div class="alex_flash_error"></div>
            <h2>{{ i }}</h2>
        </div>
    {% endfor %}
{% endblock body %}